// Colours
$colorAccent: rgb(31, 70, 15);
$colorBackground: rgb(240, 241, 245);
$colorLightTextheader: $colorBackground;
$colorLightTextBody: rgba(240, 241, 245, 0.75);
$colorDarkTextHeader: #000;
$colorDarkTextBody: rgba(0, 0, 0, 0.75);

// Fonts + Sizing
$fontFamilyDefault: "Calibri", sans-serif;
$fontFamilyBrand: "Century Gothic", "Century";
$fontSizeHeaderDesktop: 2em;
$fontSizeHeaderTablet: 2em;
$fontSizeHeaderMobile: 1.5em;
$fontSizeBodyDesktop: 1.2em;
$fontSizeBodyTablet: 1.2em;
$fontSizeBodyMobile: 1.2em;

// Scaling Widths
$widthDesktop: 66.6%;
$widthTablet: 75%;
$widthMobile: 90%;

// Miscellaneous
$sectionHeightDefault: 100vh;
$footerHeight: 10vh;
$sectionHeightContact: calc(100vh - #{$footerHeight});

// Transitions
$transitionTimeDefault: 0.3s;
$transitionTimeProjectItem: 1s;

// Mixins
@mixin centerHorizontally() {
  margin: 0 auto;
}