html { scroll-behavior: smooth; }

body {
  @include centerHorizontally();
  font-family: $fontFamilyDefault;
  background-color: $colorBackground;
}

a { text-decoration: none; }

.color-link { 
  color: #007bff; 
  transition: 0.3s;
}
.color-link:hover { opacity: 0.5; }

h1, h2, h3 { 
  text-transform: uppercase;
  font-weight: normal;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
  margin-top: 0;
}

h3 {
  font-size: 1.5rem;
}

p {
  text-align: center;
  display: block;
  font-size: 1.2em;
}

.vertical-center {
  text-align: center;
  margin: 50vh auto 0;
  transform: translateY(-50%);
}

.dark-text {
  color: $colorDarkTextBody;
}

.dark-text-header {
  color: $colorDarkTextHeader;
}

.light-text {
  color: $colorLightTextBody;
}

.light-text-header {
  color: $colorLightTextHeader;
}

.white-text { color: white; }

.wrapper {
  @include centerHorizontally();
  width: $widthDesktop;
  transition: $transitionTimeDefault;
  display: grid;
  grid-template-columns: 1fr;

  .section {
    height: $sectionHeightDefault;
  }

  .section-header {
    text-align: center;
    color: $colorDarkTextHeader;
    margin: 0.7rem 0;
  }
}