// Tablet View
@media only screen and (max-width: 1000px) {
    .wrapper, header nav {
      width: $widthTablet;
    }
  
    // Home Section
    .skills-icons {
      font-size: 2.5em;
    }
  
    // Project Section
    .project-item {  
  
      .project-item-overlay {
        opacity: 0.9;
  
        .project-item-description {
          width: 60%;
        }
      }
    }
  
    // Contact Section
    form {
      width: 100%;
    }
  }
  
// Mobile View
  
@media only screen and (max-width: 490px) { 
    #brand-logo-mobile {
      display: none;
    }
  
    .wrapper, header nav {
      width: $widthMobile;
    }
  
    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 2em;
    }
  
    // Home/Intro Section
    #portrait-image-jun {
      width: 7.5em;
      height: 7.5em;
    }
    
    .skills-icons {
      font-size: 1.5em;
    }
  
    // Project Section
    .project-item .project-item-overlay {
      height: 47vh;
    }

    .project-item .project-item-overlay .project-item-description {
      width: 100%;
      margin: 0;
    } 
}