header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    background-color: #1F460F;
    overflow: hidden;
    z-index: 10;

    nav {
        @include centerHorizontally();
        width: $widthDesktop;
        transition: $transitionTimeDefault;
        display: flex;

        #brand-logo {
            opacity: 1;
            font-weight: bold;
            font-family: "Century Gothic", "Century";
            font-size: 1.3em;
            margin-left: 0;
            transition: 0.3s;
            line-height: 2.6;
        }
        
        #brand-logo:hover {
            opacity: 0.5;
        }

        a {
            color: #F0F1F5;
            margin: 0;
            text-transform: uppercase;
            font-size: $fontSizeBodyDesktop;
            margin-left: 0.8em;
            transition: 0.3s;
            line-height: 1;
            opacity: 0.9;
            line-height: 2.8;
        }
        
        a:hover {
            cursor: pointer;
            opacity: 0.5;
        }

        .nav-links {
            opacity: 0.9;
            line-height: 2.8;
            display: flex;
            flex: 1;
            justify-content: flex-end;
        }
    }
}
  

  