// Projects Section

.project-item {
    width: auto;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    transition: $transitionTimeProjectItem;
    text-align: center;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-end;

    .projects-image-frame {
      object-fit: cover;
      height: inherit;
      width: 100%;
      transition: $transitionTimeDefault;
    }

    .projects-image-frame:hover { opacity: 0.5; }
  
    .project-item-overlay {
      transition: $transitionTimeDefault;
      height: 35vh;
      width: 100%;
      bottom: 0;
      left: 0;
      background-color: $colorDarkTextHeader;
      position: absolute;
      margin: 0;
      opacity: 0.9;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
  
      .project-item-description {
        transition: $transitionTimeDefault;
        margin: auto;
        width: $widthDesktop;
        
        p {
          padding: 0;
        }
      }
    }
}
  
.project-skills-icons {
    font-size: 2em;
    text-align: center;
    transition: 0.3s;
    filter: brightness(0.9);
}
  
#penzaar { background-image: url("../images/penzaar.png"); }
#church-in-richmond { background-image: url("../images/church-in-richmond.png"); }
#secret-club { background-image: url("../images/secret-club.png"); }
  