/*  Common */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto 0 auto;
  font-family: "Calibri", sans-serif;
  background-color: #F0F1F5;
}

.wrapper {
  margin: 0 auto;
  display: grid;
  /* margin so that the fixed nav works */
  grid-template-columns: 1fr;
  margin-top: 57px;
  width: 66.6%;
  transition: 0.7s;
}

.page-header {
  text-align: center;
  color: black;
}

.section {
  height: 100vh;
}

.vertical-center {
  text-align: center;
  margin: 50vh auto 0;
  transform: translateY(-50%);
}

/* Fixed Navbar */

header {
  width: 100%;
  line-height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  background-color: #1F460F;
  overflow: hidden;
  /* keeps the fixed navbar layered "on top" of the rest of the page */
  z-index: 5 !important;
}

nav h1 {
  float: left;
  margin-top: 8px;
  margin-bottom: 8px;
}

#brand-logo {
  float: left;
  text-decoration: none;
  color: #F0F1F5;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  font-family: "Century Gothic", "Century";
  transition: 1s;
}

nav {
  padding: 0 80px;
  transition: 0.7s;
}

nav ul {
  list-style: none;
  float: right;
  padding: 0;
  list-style-type: none;
  margin-top: 8px;
  margin-bottom: 8px;
}

nav ul li {
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  list-style-type: none;
  display: inline-block;
}

nav ul li a {
  margin: 0;
  display: block;
  text-decoration: none;
  font-size: 1.2em;
  color: white;
  transition: 0.5s;
  opacity: 0.6;
}

nav a:hover {
  opacity: 1;
  cursor: pointer;
}

h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 2em;
}

footer {
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  padding: 0.8em 0;
  /* fix footer to bottom if have time later */
  margin-top: 3.5em; 
}

/* Home/Intro Section */

blockquote {
  /* margin-left: 0; */
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

blockquote p {
  text-align: center;
  display: block;
  font-size: 1.2em;
}

#portrait-image-jun {
  display: block;
  margin: 0 auto;
  width: 20em;
  height: 20em;
  border-radius: 50%;
  transition: 1s;
  filter: brightness(1.1);
}

#skills-icons {
  font-size: 3.8em;
  text-align: center;
}

#skills-icons i {
  transition: 1s;
  filter: brightness(0.5);
}

#skills-icons i:hover {
  filter: brightness(1);
}

/* Projects Section */

.project-item {
  width: auto;
  height: 70vh;
  /* min-height: 70vh; */
  /* margin: 0; */
  /* display: flex; */
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: gray;
  transition: 1s;
  text-align: center;
}

.project-item:hover {
  cursor: pointer;
}

.project-item-overlay {
  transition: 1s;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  opacity: 0.01;
  background-color: rgba(0, 0, 0, 0.8);
  min-height: auto;
  margin: 0;
  display: flex;
}

.project-item-overlay:hover {
  opacity: 0.9;
}

.project-item-description {
  color: #F0F1F5;
  transition: 1s;
  margin: auto;
  font-size: 1.5em;
}

.project-item-description p {
  padding: 1em;
}

h4 {
  font-size: 1.35em;
}

.project-section a {
  text-decoration: none;
}

#penzaar { background-image: url("../images/penzaar.png"); }

/* Contact Section */

.contact-link a {
  font-size: 1.75em;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  transition: 1s;
}

.contact-link a:hover {
  color: #000;
}

/* Media Query JUST for Skills/Technology icons */

@media only screen and (max-width: 1000px) {
  #skills-icons {
    font-size: 2.5em;
  }

  #skills-icons i {
    transition: 1s;
    filter: brightness(0.9);
  }
}

/* Media Query for tablet view */

@media only screen and (max-width: 1100px) {
  .wrapper {
    margin-top: 57px;
    width: 75%;
  }

  /* Project Section */
  .project-item {  
    background-size: 120%;
  }

  .project-item-overlay {
    opacity: 0.9;
  }
}

/* Media Query for mobile view */

@media only screen and (max-width: 490px) { 
  /* Navbar */
  nav {
    padding: 0 30px;
  }

  #brand-logo-mobile {
    display: none;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
  }

  .wrapper {
    margin-top: 57px;
    width: 90%;
  }

  /* Intro Section */
  #portrait-image-jun {
    width: 7.5em;
    height: 7.5em;
  }

  blockquote p {
    font-size: 1em;
  }
  
  #skills-icons {
    font-size: 1.5em;
  }

  /* Project Section */
  .project-item { 
    background-size: 175%;
  }

  .project-item-description {
    font-size: 1em;
  }
}