html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f0f1f5;
}

a {
  text-decoration: none;
}

.color-link {
  color: #007bff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.color-link:hover {
  opacity: 0.5;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: normal;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
  margin-top: 0;
}

h3 {
  font-size: 1.5rem;
}

p {
  display: block;
  font-size: 1.2em;
  line-height: 1.5em;
  margin-top: 0;
}

.dark-text {
  color: rgba(0, 0, 0, 0.75);
}

.dark-text-header {
  color: #000;
}

.light-text {
  color: rgba(240, 241, 245, 0.75);
}

.light-text-header {
  color: #f0f1f5;
}

.white-text {
  color: white;
}

.wrapper {
  margin: 0 auto;
  width: 66.6%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: grid;
  grid-template-columns: 1fr;
}

.wrapper .section {
  min-height: calc(100vh - 56px);
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper .section-header {
  color: #000;
  margin-top: 0.7rem;
  margin-bottom: 2rem;
}

.half-width {
  width: 50%;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  background-color: #1f460f;
  overflow: hidden;
  z-index: 10;
}

header nav {
  margin: 0 auto;
  width: 66.6%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav #brand-logo {
  opacity: 1;
  font-weight: bold;
  font-family: "Century Gothic", "Century";
  font-size: 1.3em;
  margin-left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  line-height: 2.6;
}

header nav #brand-logo:hover {
  opacity: 0.5;
}

header nav a {
  color: #f0f1f5;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-left: 0.8em;
  transition: 0.3s;
  line-height: 1;
  opacity: 0.9;
  line-height: 2.8;
}

header nav a:hover {
  cursor: pointer;
  opacity: 0.5;
}

header nav .nav-links {
  opacity: 0.9;
  line-height: 2.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.button {
  display: inline-block;
  text-align: center;
  padding: 1em;
  margin-top: 1em;
  width: max-content;
  background-color: #1f460f;
  color: #f0f1f5;
  border-color: transparent;
  filter: brightness(1.5);
  transition: 0.3s;
}

.button:hover {
  filter: brightness(1);
  cursor: pointer;
}

.tech-name {
  font-size: 1.2em;
  padding-left: 0;
  font-family: monospace;
}

.tech-name li {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 1em;
  background-color: rgba(0, 0, 0, 0.1);
}

.project-item {
  width: auto;
  min-height: 70vh;
  transition: 1s;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  padding-top: 1em;
}

.project-item .projects-image-frame {
  object-fit: cover;
  width: 50%;
}

.project-item .project-item-description {
  padding-top: 1em;
  transition: 0.3s;
  width: 50%;
  margin: 0;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

#contact-header {
  min-height: calc(90vh - 56px);
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  margin: 0;
  margin-bottom: 20px;
  width: 50%;
  transition: 0.3s;
}

form .contact-email-form {
  box-sizing: border-box;
  width: 100%;
  border: none;
  border: 0.15rem solid rgba(0, 0, 0, 0.65);
  border-bottom: none;
  padding: 0.4em;
  background-color: transparent;
  font-family: "Arial", sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 0;
}

form #email-textarea {
  resize: none;
  line-height: 1.5em;
  vertical-align: top;
  /* fixes weird gap space between textarea and submit button */
}

#submit-button {
  margin: 0;
  padding: 0;
  background-color: #1f460f;
  color: #f0f1f5;
  border-color: transparent;
  height: 3em;
  font-family: "Arial", sans-serif;
  -webkit-filter: brightness(1.5);
  filter: brightness(1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#submit-button:hover {
  -webkit-filter: brightness(1);
  filter: brightness(1);
  cursor: pointer;
}

footer {
  height: 10vh;
  width: 100%;
  text-align: center;
  font-size: 1.3em;
}

@media only screen and (max-width: 1000px) {
  .wrapper,
  header nav {
    width: 75%;
  }
  .project-item .project-item-description {
    width: 100%;
  }
  form {
    width: 100%;
  }
  .half-width {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  #brand-logo-mobile {
    display: none;
  }
  .wrapper,
  header nav {
    width: 90%;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  .project-item .projects-image-frame {
    object-fit: cover;
    width: 100%;
    height: 30%;
  }

  .project-item .project-item-description {
    transition: 0.3s;
    width: 100%;
    min-height: 30%;
    margin: 0;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=main.css.map */
